$main: #91B0F2;
$text_color: #ffffff;
$text_secondary: #6b6b6b;
$wrong: #f29194;
$border: rgba(255, 255, 255, 0.18);

$light_main: #fd9b5c;
$light_text_color: #929292;
$light_text_secondary: #b3b3b3;
$light_wrong: #ff565c;
$light_border: #e2e2e2;

$dark_main: #ffdb58;